# Dự đoán Global AI Job Market & Salary Trends 2025

## Import các thư viện

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import kagglehub
import warnings
warnings.filterwarnings('ignore')

## Đọc dữ liệu

In [2]:
# Download latest version
path = kagglehub.dataset_download("bismasajjad/global-ai-job-market-and-salary-trends-2025")

print("Path to dataset files:", path)
df = pd.read_csv(path + '\\ai_job_dataset.csv')

Path to dataset files: C:\Users\Asus\.cache\kagglehub\datasets\bismasajjad\global-ai-job-market-and-salary-trends-2025\versions\1

## Xem qua dữ liệu

In [3]:
df.head()

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
0,AI00001,AI Research Scientist,90376,USD,SE,CT,China,M,China,50,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9,Automotive,2024-10-18,2024-11-07,1076,5.9,Smart Analytics
1,AI00002,AI Software Engineer,61895,USD,EN,CT,Canada,M,Ireland,100,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1,Media,2024-11-20,2025-01-11,1268,5.2,TechCorp Inc
2,AI00003,AI Specialist,152626,USD,MI,FL,Switzerland,L,South Korea,0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2,Education,2025-03-18,2025-04-07,1974,9.4,Autonomous Tech
3,AI00004,NLP Engineer,80215,USD,SE,FL,India,M,India,50,"Scala, SQL, Linux, Python",PhD,7,Consulting,2024-12-23,2025-02-24,1345,8.6,Future Systems
4,AI00005,AI Consultant,54624,EUR,EN,PT,France,S,Singapore,100,"MLOps, Java, Tableau, Python",Master,0,Media,2025-04-15,2025-06-23,1989,6.6,Advanced Robotics

### Giải thích một vài cột:
***experience_level:*** EN (Entry), MI (Mid), SE (Senior), EX (Executive)  
***employment_type:*** FT (Full-time), PT (Part-time), CT (Contract), FL (Freelance)  
***company_size:*** S (Small <50), M (Medium 50-250), L (Large >250)  
***remote_ratio:*** 0 (No remote), 50 (Hybrid), 100 (Fully remote)

In [4]:
df.head(50).to_csv('sample.csv')